<section class="section background">
  <div class="section__title">About Me</div>
  <div class="section__content">
    <p>
      I'm currently a Student at
      <a class="underline-link" href="https://iiitdwd.ac.in/" target="_blank">IIIT Dharwad</a> learning to buld cool things with my peers and the Open Source Community. I 
      have been active on Tech Twitter and communities like <a class="underline-link" href="https://www.eddiehub.org/" target="_blank">EddieHub</a> and <a class="underline-link" href="https://wemakedevs.org/" target="_blank">WeMakeDevs</a> .

    <p>
      As an engineer, I love building development tools which automate repetitive tasks and optimize my workflow.
      With this I became very fond of OPEN API facilitating data of network &dash; accessible service to all consumers.
      My passion for building development tools comes from a desire to save time and effort, so I can focus on more creative and complex tasks. 
      I'm always looking for new ways to improve the development process and love collaborating with my team to get feedback and ideas.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably in the Gym, goofing around with my friends,
      or enjoying my meal.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
